@model AfiliacionServicios.Models.SolicitudAfiliacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SolicitudAfiliacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroIdentidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroIdentidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprobado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anulado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anulado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
